#chartdiv {
    width: 90vw;
    height: 100vh;
    margin-bottom: 80px;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 100vh;
    margin-right: 10px;
    z-index: 5;
}

@media only screen and (max-width: 767px) {
    #chartdiv {
        width: 95%;
        max-width: 95%;
    }
}