#chartdiv {
    width: 90vw;
    height: 100vh;
    margin-bottom: 80px;
    background-color: transparent;
    position: fixed;
    right: 0px;
    top: 0px;
    margin-right: 10px;
    z-index: 1;
}

#about,
#hero,
#portfolio,
#services,
#contact,
#footer {
    position: relative;
    z-index: 5;
    background-color: white;
}

@media only screen and (max-width: 767px) {
    #chartdiv {
        width: 95%;
        max-width: 95%;
    }
}